services:
  elasticmq:
    image: softwaremill/elasticmq-native:1.6.11
    container_name: elasticmq
    ports:
      - "9324:9324" # SQS endpoint
      - "9325:9325" # UI (optional)
    volumes:
      - ./dev/elasticmq.conf:/opt/elasticmq.conf:ro
    command: ["-Dconfig.file=/opt/elasticmq.conf"]
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:9324"]
      interval: 3s
      timeout: 2s
      retries: 20

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 3s
      timeout: 2s
      retries: 20